<h1>Listing polaczenies</h1>

<table>
  <tr>
    <th>Produkt</th>
    <th>Koszyk</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @polaczenies.each do |polaczeny| %>
  <tr>
    <td><%= polaczeny.produkt_id %></td>
    <td><%= polaczeny.koszyk_id %></td>
    <td><%= link_to 'Show', polaczeny %></td>
    <td><%= link_to 'Edit', edit_polaczeny_path(polaczeny) %></td>
    <td><%= link_to 'Destroy', polaczeny, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Polaczenie', new_polaczeny_path %>
